<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconEmoji">{{ feature.fontawesome_icon_name }}</i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>